<div class="wrap">
  <div class="wrap-list">
    <div class="head">
      <div class="head-left"></div>
      <div class="video-logo">
        <img src="../assets/images/kao.png" alt="logo">
        <span class="ziti"></span>
      </div>
      <div class="head-right"></div>
    </div>
    <div class="body">
      <div class="body-list">
        <div class="search-item">
          <div class="search-warp">
            <span class="icon">
              <img src="./assets/images/media.png" alt="媒体图标">
            </span>
            <div class="input-items">
              <span class="input-wrap">
                <input  type="text" placeholder="输入Qm开头的IPFS hash" #searchValue (focus)="onfocus()"
                          (blur)="onblur()"  (keyup.enter)="getUrl()" [matAutocomplete]="auto" >
                <div class="blank">
                  <mat-autocomplete #auto="matAutocomplete" class="blank">
                  <mat-option *ngFor="let option of filmOptions" [value]="option.hash">
                    {{option.name}} : {{option.hash}}
                  </mat-option>
                </mat-autocomplete>
                </div>
              </span>
              <span><img src="./assets/images/search.png" alt="" (click)="getUrl()"></span>
            </div>
            <span class="search-button" (click)="getUrl()">
              <button mat-raised-button>搜索</button>
            </span>
          </div>
        </div>
        <div class="video-items">
          <app-video  [getSrc]="src"></app-video>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-icon">
        <i class="footer-icon-display"></i>
      </div>
      <div class="footer-font">
        <p>版权归XXX所有</p>
      </div>
    </div>
  </div>
</div>
